<body>
  <form #inventorydata="ngForm" (ngSubmit)="onSubmit(inventorydata)">
    <div class="data">
      <input type="hidden"  ngModel="{{inventory.ProductID}"  name="CustomerID"  class="form-control form-control-lg" />
      <input type="text" ngModel="{{inventory.ProductName}}" name="ProductName" class="form-control form-control-lg" />
      <label class="label" for="ProductName">Product Name</label>
    </div>
    <div class="data">
      <input type="int" ngModel="{{inventory.ProductType}}" name="ProductType" class="form-control form-control-lg" />
      <label class="label" for="ProductType">Product Type</label>
    </div>
    <div class="data">
      <input type="int" ngModel="{{inventory.Description}}" name="Description" class="form-control form-control-lg" />
      <label class="label" for="Description">Description</label>
    </div>
    <button class="btn" type="Add">Add</button>
  </form>
    
    <div>
      <table class="table">
        <tr class="tr">
          <th>Inventory ID</th>
          <th>Product Name</th>
          <th>Product Type</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        <tr class="tr" *ngFor="let inventory of inventorylist">
          <td>{{inventory.ProductID}}</td>
          <td>{{inventory.ProductName}}</td>
          <td>{{inventory.ProductType}}</td>
          <td>{{inventory.Description}}</td>
          <td><button class="btn" (click)="editInventory(inventory)">Edit</button><button class="btn" (click)="deleteInventory(inventory.ProductID)">Delete</button></td>
        </tr>
        <tr class="tr">
          
        </tr>
      </table>
    </div>
  </body>