
<div class="App">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
        <li><a class="navbar-brand" routerLink="about" >SINTET INVESTMENTS</a></li>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="Login"><a routerLink="/auth" >Login</a></li>
            <li class="Login"><a routerLink="/auth" >Sign-Up</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
  </div>

<p>Details of the company are here!</p>
