<body>
    <div class="data">
      <input type="text" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">First Name</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">CustomerID</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">ProductID</label>
    </div>
    <button class="btn" type="Add">Add</button>
    <button class="btn" type="Edit">Edit</button>
    <button class="btn" type="Delete">Delete</button>
    <div>
      <table class="table">
        <tr class="tr">
          <th>SalesID</th>
          <th>CustomerID</th>
          <th>Date Of sale</th>
          <th>ProductID</th>
          <th>Cost</th>
          <th>Total Cost</th>
        </tr>
        <tr>
          
        </tr>
        <tr>
          
        </tr>
      </table>
    </div>
  </body>