<body>
  <form class="collect" #suppliersdata="ngForm" (ngSubmit)="onSubmit(suppliersdata)">
    <div class="data">
      <input type="hidden"  ngModel="{{suppliers.SupplierID}}"  name="SupplierID"  class="form-control form-control-lg" />
      <input type="text" ngModel="{{suppliers.SupplierName}}" name="supplierName" class="form-control form-control-lg" />
      <label class="label" for="supplierName">Suppliers Name</label>
    </div>
    <div class="data">
      <input type="int" ngModel="{{suppliers.ProductID}}" name="productID" class="form-control form-control-lg" />
      <label class="label" for="productID">ProductID</label>
    </div>
    <div class="data">
      <input type="int" ngModel="{{suppliers.Email}}" name="email" class="form-control form-control-lg" />
      <label class="label" for="email">Email</label>
    </div>
    <div class="data">
      <input type="int" ngModel="{{suppliers.PhoneNo}}" name="phoneNo" class="form-control form-control-lg" />
      <label class="label" for="phoneNo">Phone No</label>
    </div>
    <div class="data">
      <input type="int" ngModel="{{suppliers.Address}}" name="address" class="form-control form-control-lg" />
      <label class="label" for="address">Address</label>
    </div>
    <button class="btn" type="Add">Add</button>
  </form>
  <div>
    <table class="table">
      <tr class="tr">
        <th>Suppliers ID</th>
        <th>Suppliers Name</th>
        <th>Product ID</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
      <tr class="tr" *ngFor="let suppliers of supplierslist">
        <td>{{suppliers.SupplierID}}</td>
        <td>{{suppliers.SupplierName}}</td>
        <td>{{suppliers.ProductID}}</td>
        <td>{{suppliers.Email}}</td>
        <td>{{suppliers.PhoneNo}}</td>
        <td>{{suppliers.Address}}</td>
        <td><button class="btn" (click)="editSupplier(suppliers)">Edit</button><button class="btn" (click)="deleteSupplier(suppliers.SupplierID)">Delete</button></td>
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>
</body>