
<body>
  <form #login="ngForm" (ngSubmit)="usLogin(login)" novalidate>
    <h1>Login</h1>
    <div class="formcontainer"></div>
    <hr/>
    <div class="container">
        <label for="uname"><strong>Username</strong></label>
        <input type="text" placeholder="Enter Username" ngModel name="uname" required>
        <label for="psw"><strong>Password</strong></label>
        <input type="password" placeholder="Enter Password" ngModel name="psw" required>
      </div>
      <button type="submit">Login</button>
      <div class="container" >
        <label style="padding-left: 15px">
        <input type="checkbox"  checked="checked" ngModel name="remember"> Remember me
        </label>
        <span class="psw"><a href=""> Forgot password?</a></span>
      </div>
  </form>
</body>
