<h1><a class="a" routerLink="/About" >SINTET INVESTMENTS</a></h1>
<p></p>

<ul class="ul">
    <li class="lister"><a class="a" routerLinkActive="active" routerLink="customers" >Customers</a></li>
    <li class="lister"><a class="a" routerLinkActive="active" routerLink="suppliers" >Suppliers</a></li>
    <li class="lister"><a class="a" routerLinkActive="active" routerLink="inventory" >Inventory</a></li>
    <li class="lister"><a class="a" routerLinkActive="active" routerLink="transactions" >Transactions</a></li>
    <li class="lister"><a class="a" routerLinkActive="active" routerLink="sales" >Sales</a></li>
    <li class="lister"><a class="a" routerLinkActive="active" routerLink="purchases" >Purchases</a></li>
</ul>

<div class="context"><router-outlet></router-outlet></div>
