.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #181818;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    color: rgb(255, 255, 255);
  }
.lister a {
    
    display: block;
    color: rgb(255, 255, 255);
    padding: 30px 20px;
    text-decoration: none;
    border-bottom: 1px solid rgb(68, 21, 235);
}
/* Change the link color on hover */
.lister a:hover {
    background-color: rgb(44, 38, 102);
    color: white;
}
.active {
    background-color: #f58e41;
    color: white;
}
.context{
    align-content: right;
    position: fixed;
    left: 25%;
    top: 64px;
    bottom: 0px;
    right: 0px;
}
.a{
    color: rgb(250, 249, 248);
}
.btn{
    background-color: darkgoldenrod;
    color: aliceblue;
}
