<body>
  <form class="collect" #transactionsdata="ngForm" (ngSubmit)="onSubmit(transactionsdata)">
    <div class="data">
      <input type="hidden"  ngModel="{{transactions.TransactionID}}"  name="TransactionID"  class="form-control form-control-lg" />
    </div>
    <div class="data">
      <input type="int" ngModel="{{transactions.CustomerID}}" name="customerID" class="form-control form-control-lg" />
      <label class="label" for="customerID">Customer ID</label>
    </div>
    <div class="data">
      <input type="int" ngModel="{{transactions.SalesID}}" name="salesID" class="form-control form-control-lg" />
      <label class="label" for="SalesID">Sales ID</label>
    </div>
    <div class="data">
      <input type="int" ngModel="{{transactions.AmountTransacted}}" name="amountTransacted" class="form-control form-control-lg" />
      <label class="label" for="amountTransacted">Amount of Transaction</label>
    </div>
    <button class="btn" type="Add">Add</button>
  </form>
    
    <div>
      <table class="table">
        <tr class="tr">
          <th>Transaction ID</th>
          <th>Customer ID</th>
          <th>Date Of Transaction</th>
          <th>Sales ID</th>
          <th>Amount of Transaction</th>
          <th>Action</th>
        </tr>
        <tr class="tr" *ngFor="let transaction of transactionslist">
          <td>{{transaction.TransactionID}}</td>
          <td>{{transaction.CustomerID}}</td>
          <td>{{transaction.DateOfPurchase}}</td>
          <td>{{transaction.SalesID}}</td>
          <td>{{transaction.AmountTransacted}}</td>
          <td><button class="btn" (click)="editTransaction(transaction)">Edit</button><button class="btn"  (click)="deleteTransaction(transaction.TransactionID)">Delete</button></td>
        </tr>
        <tr class="tr"></tr>
      </table>
    </div>
  </body>